<div class="row py-2">
    <div class="md-offset-2 col-md-10">
        <h2 class="border-bottom border-dark">Payment Methods</h2>
    </div>
</div>
<div class="row py-2">
    <div class="md-offset-2 col-md-10">
        <button class="btn btn-success btn-sm" (click)="onAdd()">New Payment Method</button>
    </div>
</div>
<div class="row py-2">
    <app-payment-method-modal [modalId]="modalId" [paymentMethod]="paymentMethodToUpdate"></app-payment-method-modal>
</div>
<div class="row py-2">
    <div class="col-md-10 md-offset-2">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center"
                *ngFor="let paymentMethod of paymentMethodsSubject | async">
                {{ paymentMethod.description }}
                <div>
                    <button class="btn btn-warning btn-sm margin-right-5"
                        (click)="onUpdate(paymentMethod)">Update</button>
                    <button class="btn btn-danger btn-sm" (click)="onDelete(paymentMethod.id)">Delete</button>
                </div>
            </li>
        </ul>
    </div>
</div>