<div class="row py-2">
    <div class="col-md-10 md-offset-2">
        <h2 class="border-bottom border-dark">Categories</h2>
    </div>
</div>
<div class="row py-2">
    <div class="col-md-10 md-offset-2">
        <button class="btn btn-success btn-sm" (click)="onAdd()">New Category</button>
    </div>
</div>
<div class="row py-2">
    <app-category-modal [modalId]="modalId" [category]="categoryToUpdate"></app-category-modal>
</div>
<div class="row py-2">
    <div class="col-md-10 md-offset-2">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center"
                *ngFor="let category of categoriesSubject | async">
                {{ category.description }}
                <div>
                    <button class="btn btn-warning btn-sm margin-right-5" (click)="onUpdate(category)">Update</button>
                    <button class="btn btn-danger btn-sm" (click)="onDelete(category.id)">Delete</button>
                </div>
            </li>
        </ul>
    </div>
</div>